<h1>Auction</h1>

<p><%= @auction.title %></p>
<p><%= @auction.details %></p>
<p><strong>Ends On: </strong><%= @auction.ends_on %> </p>
<p>Reserve Price: <%= @auction.reserve_price %></p>
<hr>

<%= form_for [@auction, @bid] do |f| %>
    <div class="form-group">
    <%= f.label :bid %>
    <%= f.number_field :bid, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<hr>

<h2>Previous Bids</h2>

<% @bids.each do |bid| %>
  <div class="well">
    <p>$<%= bid.bid %> at <%= bid.created_at %></p>
  </div>
<% end %>
