<h1>Auction</h1>

<div class="row">
  <div class="col-md-8">
    <p><strong>Title: </strong><%= @auction.title %></p>
    <p><strong>Details: </strong><%= @auction.details %></p>
    <p><strong>Ends On: </strong><%= formatted_date(@auction.ends_on) %> </p>
  </div>

  <div class="col-md-4">
    <p><strong>Current Price: </strong>Current Price to go here</p>
    <p>Has reserve price been met?</p>
  </div>
</div>

<hr>

<%= form_for [@auction, @bid] do |f| %>
    <div class="form-group">
    <%= f.label :bid %>
    <%= f.number_field :bid, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<hr>

<h2>Previous Bids</h2>

<% @bids.each do |bid| %>
  <div class="well">
    <p>$<%= bid.bid %> on <%= formatted_date(bid.created_at) %></p>
  </div>
<% end %>
