<!DOCTYPE html>
<html>
<head>
  <title>Final Exam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= link_to "All Auctions", auctions_path %>
  |
  <%= link_to "New Auction", new_auction_path %>
  <hr>
  <p><%= flash[:notice] || flash[:alert] %></p>

  <%= yield %>
</div>

</body>
</html>
